//your images

.email-linked-image{
    display: flex;
    flex-direction: column;
    @include mq (large){
        flex-direction: row;
    }
    img {
        margin: 10px;
        border: 5px solid white;
        border-radius: 3px;
    }
}

.clear-image-button {
    display:none;
}